@import '../../app.scss';

.contact{
  height: 100%;
  max-width: 1366px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 50px;
  @include tab{
    width: 100%;
    padding: 20px;
  }
  @include mobile{
    width: 100%;
    padding: 10px;
    flex-direction: column;
    gap: 10px;
  }

  .textContainer{
    flex: 0.5;
    display: flex;
    flex-direction: column;
    gap: 40px;
    @include mobile{
      gap: 5px;
      text-align: center;
      align-items: center;
      margin-top: 50px;
    }

    h1{
      font-size: 100px;
      line-height: 80px;

      @include mobile{
        text-wrap: nowrap;
      font-size: 30px;
      }

    }
    span{
      font-weight: 100;
      display: inline-block;
      margin-top: .5vw;
      @include mobile{
      margin: 5px 0;
      margin-top: 0;
      }

      a{
        font-size: 24px;
        @include mobile{
          font-size: 18px;
        }
        
      }
      .no{
        font-size: 24px;
      }
    }
  }
  .formContainer{
    flex: 1;
    position: relative;
    @include mobile{
     width: 100%; 
     padding: 20px;
    }

    .phoneSvg{
      stroke: orange;
      position: absolute;
      margin: auto;
      z-index: 2;
      @include mobile{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 0.3vw;
        top: 80px;
      }
      svg{

        @include mobile{
          height: 300px;
          width: 300px;
        }
      }
    }
    h1{
      margin-bottom: 10px;
    }
    form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    z-index: 2;

    input,textarea{
      padding: 20px;
      background-color: transparent;
      border: 1px solid #fff;
      color: #fff;
      border-radius: 5px;
      @include mobile{
      padding: 10px;
      }
    }
    button{
      padding: 20px;
      border: none;
      border-radius: 5px;
      background-color: orange;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      font-weight: 500;
      font-size: 20px;
      @include mobile{
        padding: 10px;
      }
    }
    .msg{
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2vw;
      @include mobile{
      font-size: 24px;
      }
    }
    .msg-s{
      color: green;
      
    }
    .msg-e{
      color: red;
    }
  }
  }
}